body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Libre Baskerville", serif;
    background-color: #fff;
    /*display: flex;*/
    /*justify-content: space-between;*/

}

/* header */

header{
    flex-direction: column;
    margin: 10px 0;
}

.headerImg{
    width: 100%;
    display: block;
    max-width: 600px;
    max-height: 400px;
    height: 5%;
    margin: 0 auto;
}

/* navigation bar */

.nav-bar {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    padding: 0;
    background-color: lightblue;
}

.nav-bar > li {
    font-size: 2vw;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    margin-right: 5%;
}

.navbar-default {
    margin: 0 auto;
    background-color: #ef5350;
    border-color: #E7E7E7;
}

.navbar-default .navbar-nav>li>a {
    color: #E7E7E7;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #b9403e;
    color: #E7E7E7;
}

.nav-bar > li > a {
    color: white;
}

.navbar-toggle {
    float: left;
    margin: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #E7E7E7;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #b9403e;
}

.navigation-links {
    margin-left: 10px;
}

.navigation-li {
    margin: 0 auto;
}

.navbar-nav {
    width: 100%;
    margin: 0;
}

/* main content */

img {
    width: auto;
    height: 70%;
    border-radius: 50%;
}

.personContainer {
    height: 90%;
    width: 80%;
    margin: 0 auto;
}

.futureReleases {
    width: 80%;
    margin: 0 auto;
}

