body {
  margin: 0 5%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.col-sm-2 {
  padding: 10px;
  border-radius: 4px;
  height: 125px;
  margin-bottom: 10px;
}

.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
}

.sp-circle {
  margin-top: 15%;
  height: 20vh;
  width: 20vh;
  border: 4px rgba(250, 128, 114, 0.25) solid;
  border-top: 4px salmon solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
}

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.newest-section-pictures{
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.figure-text {
  text-align: center;
}

.figure {
  cursor: pointer;
}

.contents-section {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.newest-section-header {
  padding: 10px;
  width: 100%;
  font-size: 214%;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

/* header */

header {
  flex-direction: column;
  margin: 10px 0;
}

.header-text {
  font-size: 180%;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.header-text2 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 150%;
  font-family: sans-serif;
}

.headerImg {
  width: 100%;
  display: block;
  max-width: 600px;
  max-height: 400px;
  height: 5%;
  margin: 0 auto;
}

/* navigation bar */

.nav-bar {
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  padding: 0;
  background-color: lightblue;
}

.nav-bar > li {
  font-size: 2vw;
  justify-content: space-evenly;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1%;
  margin-right: 5%;
}

.navbar-default {
  margin: 0 auto;
  background-color: #ef5350;
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
  color: #e7e7e7;
}

.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #b9403e;
  color: #e7e7e7;
}

.nav-bar > li > a {
  color: white;
}

.navbar-toggle {
  float: left;
  margin: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e7e7e7;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #b9403e;
}

.navigation-links {
  margin-left: 10px;
}

.navigation-li {
  margin: 0 auto;
}

.navbar-nav {
  width: 100%;
  margin: 0;
}

/* landing page */

figure {
  margin: 0;
}

.img-container {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #c5e3ef;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.landing_page {
  display: flex;
  height: 10%;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 4em;
}

#events-to-choose, .twitter-and-google-maps, #gallery {
  margin-bottom: 4em;
}

.landing-page-image {
  max-width: 642px;
  width: 80%;
  max-height: 400px;
  height: 100%;
  padding: 2%;
  margin: 0 auto;
}

.landing_page > figure {
  width: 30%;
  background-color: #f1f1f1;
  height: 100%; 
  margin: 10px 0;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; 
  min-height: 325px;
} 

.four-sections{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    min-height: 300px;
    background-color: #f1f1f1;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    cursor: pointer;
}

img.picture{
  width:100%;
  border-radius:10px 10px 0 0;
  min-height:154px;
}

.landing_page > figure > img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 40%;
}

p.figure-text {
  margin: 0;
  font-size: 1.5rem;
  margin: 0px 10px;
}

div.figure-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0px 10px;
}

.four-sections > div.figure-text {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 10px;
}

.four-sections > p.figure-text {
  margin: 0;
  font-size: 1.8rem;
  margin: 0px 10px;
}

.secondp {
  display: block;
}

.event-information {
  display: grid;
  grid-column-gap: 2%;
}
.event-information > .event-img > figure {
  display: flex;
  height: 100%;
  width: 100%;
}

.event-information > .event-img > figure > img {
    width: 80%;
    max-width: 800px;
    height: 100%;
    max-height: 450px;
    margin: 0 auto;
}

.event-info {
  background-color: white;
  display: block;
  position: relative;
  text-align: center;
  margin-top: 1rem;
}

.event-info > span {
  font-weight: bold;
  font-size: 20px;
}

.back_button, .eventURL {
  margin: 1rem 0.5rem 0rem 0.5rem;
}

.date,
.time,
.address,
.host {
  display: block;
}

ol {
  display: block;
  margin: 10px auto;
  width: 95%;
}

.hidePage {
  display: none;
}

.importantHidePage {
  display: none!important;
}

#map {
  height: 400px;
  width: 100%;
}

.event_chosen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-body {
  display: flex;
  max-height: 400px;
  margin: 2.5em 0em;
}

.twitter_and_google_maps, .event-description-container {
  width: 48%;
  justify-content: space-evenly;
}

.event-description-container {
  background-color: #e7e7e7;
  margin: 0rem 2rem;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
}

.event-description {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 2rem;
}

.twitter_and_google_maps > button {
  display: block;
  margin: 0 auto;
}

.twitter-list {
  width: 100%;
  max-height: 190px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.twitter-feed > div > * {
  text-align: center;
}

.twitter-feed {
  background-color: #c5e3ef;
  border-radius: 10px;
  height: 49%;
}

.twitter-content {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}

.twitter-bird-logo {
  height: 60%;
  max-height: 215px;
  width: 60%;
  max-width: 215px;
}

.twitter-section {
  background-color: #c5e3ef;
  height: 49%;
  border-radius: 10px;
}

.twitter-header {
  font-size: 155%;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 0px;
}

.tweets > li {
  font-size:120%;
}

.side-header {
  display: flex;
  justify-content: space-between;
  width: 35%;
  flex-direction: column;
}

.newest-section {
  background-color: #e7e7e7;
  text-align: center;
  height: 100%;
  width: 64%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

#websiteHeader {
  text-align: center;
}

.gallery-page {
  cursor: pointer;
}

.gallery-intro {
  width: 80%;
  margin: auto;
  background-color: #c5e3ef;
  border-radius: 10px;
}

.gallery-intro-header {
  font-size: 28px;
  padding-top: 1em;
}

.gallery-intro-desc {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  padding-bottom: 1em;
}

.gallery-chicktech, .gallery-girlsintech, .gallery-girldevelopit {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery-figure {
  margin: .5%;
  align-self: center;
}

.gallery-image {
  border-radius: 10px;
  max-height: 175px;
  transition: box-shadow .5s ease;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  cursor: pointer;
}

.gallery-image:hover {
  -moz-box-shadow:    0 0 0 4px #ef5350;
  -webkit-box-shadow: 0 0 0 4px #ef5350;
  box-shadow:         0 0 0 4px #ef5350;
}

.gallery-modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0,0,0,0.4);
}

.gallery-modal-content {
  background-color: #FEFEFE;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid blue;
  width: 80%;
}

.gallery-modal-close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.gallery-modal-close:hover, .gallery-modal-close:focus, {
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
  text-align: center;
  width: 100%;
  height: 100%;
}

.modal-image > img {
  text-align: center;
  width: 100%;
  height: 100%;
}

.modal-header {
  /* background-color: #ef5350; */
  height: 0;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.modal-footer button {
  transition: background-color .75s ease;
  background-color: #ef5350;
  color: white;
}

.modal-footer button:hover, .modal-footer button:focus {
  background-color: #b9403e;
  color: white;
}

div.item img {
  margin: 0 auto;
}

.events-page {
  cursor: pointer;
}

.event-name {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}

/* media queries */

@media (min-width:1150px) {
  .twitter-bird-logo {
    height: 60%;
    max-height: 215px;
    width: 60%;
    max-width: 215px;
  }
}

@media (max-width: 1039px) {
  .figure-text{
    font-size:1.5rem;
  }
}

@media (min-width: 991px) and (max-width:1350px) {
  .header-text2 {
    font-size: 1.7rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 991px) and (max-width:1075px) {
  .twitter-list {
    max-height: 167px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (max-width: 1336px){
  .gallery-intro-header {
    font-size: 25px;
  }

  .gallery-intro-desc {
    font-size: 18px;
  }
}

@media (max-width: 1250px) { 
  .landing_page > figure {
    width: 45%;
    background-color: #f1f1f1;
    height: 100%;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .newest-section{
    background-color: #e7e7e7;
    width: 64%;
    min-height: 350px;
  }
  .twitter-section {
    background-color: #c5e3ef;
    width: 100%;
  }
  .four-sections{
    min-height:320px;
  }
  .header-text2 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }
  .contents-section {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .newest-section {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: #e7e7e7;
  }

  .twitter-section {
    background-color: #c5e3ef;
    width: 100%;
    margin: 0 auto;
    margin-top:5%;
  }

  .four-sections {
    margin: 0 auto;
    width: 90%;
    min-height:0;
    display: block;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .spinner {
    margin: 0 auto;
  }

  .img-container {
    height: auto;
  }

  .gallery-intro-header {
    font-size: 16px;
  }
  
  .gallery-intro-desc {
    font-size: 12px;
  }


}

@media (max-width: 991px) {
  .twitter_and_google_maps, .event-description-container {
    width: 100%;
    display: block;
  }

  .event-description {
    overflow-y: hidden;
  }

  .event-description-container, .twitter-and-google-maps {
    margin: 1rem 0rem;
  }

  .event-description-container {
    padding: 1rem 2rem;
  }

  .event-body {
    margin: 1rem 0rem;
    display: block;
    max-height: 400px;
  }

  .newest-section{
    background-color: #e7e7e7;
    width: 100%;
    min-height: 350px;
    margin-bottom: 1rem;
  }

  .sp-circle {
    margin-top: 40%;
  }

  body {
    margin: 0 10%;
  }

  .twitter-content > * {
    font-size: 2rem;
  }

  .header-text {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .header-text2 {
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1rem;
  }

  /* landing page */
  .landing_page > figure {
    position:relative;
    justify-content: space-around;
    flex-basis: 98%;
    min-height: 250px;
  }

  .hoverText {
    align-items: center;
    color: black;
    font-size: 3vw;
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
    top: 30%;
    word-wrap: break-word;
    z-index: -1;
  }

  .hoverText2 {
    align-items: center;
    color: black;
    font-size: 3vw;
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
    top: 48%;
    word-wrap: break-word;
    z-index: -1;
  }

  img:hover + p {
    display: block;
  }

  .secondp {
    display: block;
  }

  /* Data Page */

  .event-name {
    font-size: 20px;
  }

  .event-info > span {
    font-weight: bold;
    font-size: 16px;
  }

  .event-description {
    font-size: 12px;
  }

  .twitter-and-google-maps{
    /* margin: 1rem 0; */
  }
}

@media (max-width: 500px) {
  body {
    margin: 0 5%;
  }

  .twitter-content > button {
    font-size: 1.1rem;
  }

  .twitter-content > a {
    font-size: 1.3rem;
    padding: 0;
  }

  .header-text {
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .header-text2 {
    font-size: 1.2rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1rem;
  }

  /* Data Page */

  .event-info > span {
    font-weight: bold;
    font-size: 12px;
  }

  .event-description {
    font-size: 12px;
  }
}
