body {
  margin: 0 5%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.brandon {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.figure-text {
  text-align: center;
}

.bp {
  font-size: 150%;
  font-family: sans-serif;
}

/* header */

header {
  flex-direction: column;
  margin: 10px 0;
}

.header-text {
  font-size: 250%;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.header-text2 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 150%;
  font-family: sans-serif;
}

.headerImg {
  width: 100%;
  display: block;
  max-width: 600px;
  max-height: 400px;
  height: 5%;
  margin: 0 auto;
}

/* navigation bar */

.nav-bar {
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  padding: 0;
  background-color: lightblue;
}

.nav-bar > li {
  font-size: 2vw;
  justify-content: space-evenly;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1%;
  margin-right: 5%;
}

.navbar-default {
  margin: 0 auto;
  background-color: #ef5350;
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
  color: #e7e7e7;
}

.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #b9403e;
  color: #e7e7e7;
}

.nav-bar > li > a {
  color: white;
}

.navbar-toggle {
  float: left;
  margin: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e7e7e7;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #b9403e;
}

.navigation-links {
  margin-left: 10px;
}

.navigation-li {
  margin: 0 auto;
}

.navbar-nav {
  width: 100%;
  margin: 0;
}

/* landing page */

figure {
  margin: 0;
}

.img-container {
  display: flex;
  justify-content: center;
}

.landing_page {
  display: flex;
  height: 10%;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
}

.landing-page-image {
  width: 90%;
  height: 25%;
  padding: 2%;
}

.landing_page > figure {
  width: 30%;
  background-color: #f1f1f1;
  height: 100%;
  /* min-height: 300px; */
  margin: 10px 0;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.landing_page > figure > img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 95%;
}

p.figure-text {
  margin: 0;
  font-size: 1.4rem;
  margin: 0px 10px;
}

div.figure-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0px 10px;
}

/* .landing_page > figure > img:hover {
  opacity: 0.25;
  filter: alpha(opacity=50);
} */

/* .hoverText {
  align-items: center;
  color: black;
  font-size: 1.2vw;
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
  top: 18%;
  word-wrap: break-word;
  z-index: -1;
}

.hoverText2 {
  align-items: center;
  color: black;
  font-size: 1.2vw;
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
  top: 60%;
  word-wrap: break-word;
  z-index: -1;
} */

/* img:hover + p {
  display: block;
} */

.secondp {
  display: block;
}

.event-information {
  display: grid;
  grid-column-gap: 2%;
}
.event-information > .event-img > figure {
  display: flex;
  height: 100%;
  width: 100%;
}

.event-information > .event-img > figure > img {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.event-info {
  background-color: white;
  display: block;
  position: relative;
  text-align: center;
  margin: 1rem 0;
}

.event-info > span {
  font-weight: bold;
  font-size: 20px;
}

.date,
.time,
.address,
.host {
  display: block;
}

ol {
  display: block;
  margin: 10px auto;
  width: 95%;
}

.hidePage {
  display: none;
}

#map {
  height: 400px;
  width: 100%;
}

.event_chosen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.twitter_and_google_maps {
  display: grid;
  margin: 10px 0;
  grid-row-gap: 3vh;
  
}

.twitter_and_google_maps > button {
  display: block;
  margin: 0 auto;
}

#twitter-feed > div > * {
  display: block;
  text-align: center;
  margin: 10px auto;
  /* width: 100%; */
}

#twitter-feed {
  background-color: #e7e7e7;
  max-height: 350px;
  overflow: scroll;
}

#tweets {
  max-height: 200px;
  overflow: scroll;
}
.twitter-content {
  width: 100%;
}

.twitter-section {
  background-color: #e7e7e7;
}

.newest-section {
  background-color: #e7e7e7;
  text-align: center;
}

#websiteHeader {
  text-align: center;
}

/* will create this dynamically */
.event-name {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}

/* credit to Sara Vieira from developerdrive.com */

/* @keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.landing_page > figure > img:hover {
  animation: bounce 1s;
} */
/* media queries */
@media (max-width: 700px) {
  body {
    margin: 0 10%;
  }

  .twitter-content > * {
    font-size: 1.2rem;
  }

  .header-text {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .header-text2 {
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* landing page */
  .landing_page > figure {
    /* min-height: 230px; */
    position:relative;
    justify-content: space-around;
    flex-basis: 98%;
  }

  .hoverText {
    align-items: center;
    color: black;
    font-size: 3vw;
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
    top: 30%;
    word-wrap: break-word;
    z-index: -1;
  }

  .hoverText2 {
    align-items: center;
    color: black;
    font-size: 3vw;
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
    top: 48%;
    word-wrap: break-word;
    z-index: -1;
  }

  img:hover + p {
    display: block;
  }

  .secondp {
    display: block;
  }

  /* Data Page */

  .event-name {
    font-size: 20px;
  }

  .event-info > span {
    font-weight: bold;
    font-size: 16px;
  }

  .event-description {
    font-size: 12px;
  }

  #twitter-and-google-maps{
    margin: 1rem 0;
  }

  /* #twitter-feed > div > * {
        display: block;
        margin: 10px auto;
        width: 100%;
    } */
}

@media (max-width: 500px) {
  body {
    margin: 0 5%;
  }

  .twitter-content > button {
    font-size: 1.1rem;
  }

  .twitter-content > a {
    font-size: 1rem;
    padding: 0;
  }

  .header-text {
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .header-text2 {
    font-size: 1.2rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  /* Data Page */

  /* .event-name {
        font-size:12px;
    } */

  .event-info > span {
    font-weight: bold;
    font-size: 12px;
  }

  .event-description {
    font-size: 12px;
  }
}

.twitter-section,
.newest-section {
  width: 48%;
}

.contents-section {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
